@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    margin: 0 auto
}
.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-top-color: #f79c13;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s
}
.preloader .preloader-circle2 {
    border-top-color: #0078ff
}
.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s
}
.preloader .preloader-img img {
    max-width: 55px
}
.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s
    }
}
@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s
    }
}







.login-body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh
}
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    padding: 90px 45px 60px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px
}

@media(max-width: 575px) {
    .login-form {
        width: 282px;
        padding: 90px 15px 15px
    }
}
.login-form .logo-login img {
    width: 99px;
    height: 95px;
    position: absolute;
    top: -57px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 15px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    border-radius: 50%
}
.login-form h2 {
    color: #fff;
    font-size: 30px;
    margin: 0 0 40px;
    text-align: center;
    font-weight: 600;
}
.login-form .form-input {
    position: relative;
    margin: 20px 0
}
.login-form .form-input label {
    font-size: 18px;
    font-weight: 600;
    color: #fff
}
.login-form .form-input input {
    outline: none;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: transparent;
    font-size: 18px;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff
}
.login-form .form-input input::placeholder {
    color: #cda45e
}
.login-form .form-input input[type="submit"] {
    background:#cda45e;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    line-height: 1;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    transition: 0.4s
}
.login-form .form-input input[type="submit"]:hover {
    background: #000;
    background: #cda45e
}
.login-form .forget {
    display: block;
    margin-top: 30px;
    color:#cda45e;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 5px
}
.login-form .forget:hover {
    color: #fff
}
.login-form .registration {
    display: block;
    color: #cda45e;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 5px
}
.login-form .registration:hover {
    color: #fff
}






@media(min-width: 768px) {
    .blog_details h2 {
        color: #cda45e;
        font-size: 24px;
        margin-bottom: 15px
    }
}
.blog-info-link li {
    float: left;
    font-size: 14px
}
.blog-info-link li a {
    color: #cda45e
}
.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px
}
.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px
}
.blog-info-link li:last-child::after {
    display: none
}
.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table
}
.blog_item_img {
    position: relative
}
.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background-color: #F067FF;
    padding: 8px 15px;
    border-radius: 5px
}

@media(min-width: 900px) {
    .blog_categorie_area {
        padding-top: 80px;
        padding-bottom: 80px
    }
}
@media(min-width: 1100px) {
    .blog_categorie_area {
        padding-top: 120px;
        padding-bottom: 120px
    }
}
.categories_post {
    position: relative;
    text-align: center;
    cursor: pointer
}
.categories_post img {
    max-width: 100%
}
.categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.75);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center
}
.categories_post .categories_details h5 {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    position: relative
}
.categories_post .categories_details p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0
}
.categories_post .categories_details .border_line {
    margin: 10px 0;
    background: #fff;
    width: 100%;
    height: 1px
}
.categories_post:hover .categories_details {
    background: rgba(222, 99, 32, 0.85)
}
.blog_item {
    margin-bottom: 50px
}
.blog_details {
    padding: 30px 0 20px 10px;
    /*box-shadow: 0 10px 20px 0 rgba(221, 221, 221, 0.3)*/
}
@media(min-width: 768px) {
    .blog_details {
        padding: 60px 30px 35px 35px
    }
}
.blog_details p {
    margin-bottom: 30px
}
.blog_details a {
    color: #080808
}
.blog_details a:hover {
    color: #cda45e
}
.blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px
}
@media(min-width: 768px) {
    .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px
    }
}
.blog-info-link li {
    float: left;
    font-size: 14px
}
.blog-info-link li a {
    color: #999999
}
.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px
}
.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px
}
.blog-info-link li:last-child::after {
    display: none
}
.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table
}
.blog_item_img {
    position: relative
}
.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background-color: #cda45e;
    padding: 8px 15px;
    border-radius: 5px
}
@media(min-width: 768px) {
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px
    }
}
.blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2
}
@media(min-width: 768px) {
    .blog_item_img .blog_item_date h3 {
        font-size: 30px
    }
}
.blog_item_img .blog_item_date p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff
}
@media(min-width: 768px) {
    .blog_item_img .blog_item_date p {
        font-size: 18px
    }
}
.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px
}
.blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    /*border-bottom: 1px solid #f0e9ff*/
}
.blog_right_sidebar .single_sidebar_widget {
   /* background: #fbf9ff;*/
    padding: 30px;
    margin-bottom: 30px
}
.blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0
}
.blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color:#cda45e ;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0
}
.blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999999
}
.blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}
.blog_right_sidebar .search_widget .input-group button {
    background: #cda45e;
    border-left: 0;
    border: 1px solid #a2a0a7;
    padding: 4px 15px;
    border-left: 0;
    cursor: pointer
}
.blog_right_sidebar .search_widget .input-group button i {
    color: #cda45e;
}
.blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999999
}
.blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0
}
.blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999999
}
.blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}
.blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0
}
.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #fff
}
.blog_right_sidebar .post_category_widget .cat-list li {
    /*border-bottom: 1px solid #f0e9ff;*/
    transition: all 0.3s ease 0s;
    padding-bottom: 12px
}
.blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0
}
.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888
}
.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0
}
.blog_right_sidebar .post_category_widget .cat-list li+li {
    padding-top: 15px
}
.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px
}
.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear
}
.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #fff
}
.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0
}
.blog_right_sidebar .popular_post_widget .post_item+.post_item {
    margin-top: 20px
}
.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block
}
.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px
}
.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #F067FF;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s
}
.blog_right_sidebar .instagram_feeds .instagram_row {
    display: flex;
    margin-right: -6px;
    margin-left: -6px
}
.blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px
}
.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0
}
.blog-pagination {
    margin-top: 80px
}
.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #cda45e;
    border: 1px solid #cda45e;
    margin-right: 10px
}
.blog-pagination .page-link i,
.blog-pagination .page-link span {
    font-size: 13px
}
.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888888
}
.blog-pagination .page-item:last-child .page-link {
    margin-right: 0
}
.single-post-area .blog_details {
    box-shadow: none;
    padding: 0
}
.single-post-area .social-links {
    padding-top: 10px
}
.single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px
}
.single-post-area .social-links li a {
    color: #cccccc;
    padding: 7px;
    font-size: 14px;
    transition: all 0.2s linear
}
.single-post-area .blog_details {
    padding-top: 26px
}
.single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px
}
.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, 0.1);
    padding: 15px;
    line-height: 1.733;
    color: #888888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px
}








